.card-wrapper {
  position: relative;
}

.card-layout {
  height: 35vh !important;
  width: 30rem !important;
}

.card-bg--gb {
  background-color: var(--dark-grayish-blue) !important;
}

.card-tc-font {
  font-family: "Manrope", "Roboto", sans-serif !important;
}

.card-tc-font.advice {
  font-size: var(--quote-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-tc--lc {
  color: var(--light-cyan) !important;
}

.card-tc--c {
  text-align: center;
}

.card-tc--ng {
  color: var(--neon-green) !important;
}

.action-wrapper {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, 100%);
}

.card-divider.desktop:after {
  content: url("../images/pattern-divider-desktop.svg");
}

.card-divider {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.divider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.card-button--ng {
  background-color: var(--neon-green) !important;
}

.card-button--ng:hover {
  box-shadow: var(--neon-green) 0px 0px 20px,
    rgba(17, 17, 26, 0.1) 0px 20px 16px, var(--neon-green) 0px 0px 10px !important;
  transition: ease-in-out 200ms;
}

.icon-dice {
  text-align: center;
  position: relative;
  width: auto;
  height: 70px;
}

.icon-dice::after {
  content: url("../images/icon-dice.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -35%);
}

@media all and (min-width: 900px) and (max-width: 1023px) {
  .card-divider.mobile:after {
    content: url("../images/pattern-divider-desktop.svg");
  }
  .card-layout {
    height: 60vh !important;
    width: auto !important;
  }
  .action-wrapper {
    top: 55% !important;
    transform: translate(-50%, 100%) !important;
  }
}

@media all and (min-width: 768px) and (max-width: 820px) {
  .card-divider.mobile:after {
    content: url("../images/pattern-divider-mobile.svg");
  }
  .card-layout {
    height: 20vh !important;
    width: auto !important;
  }

  .action-wrapper {
    top: 55% !important;
    transform: translate(-50%, 95%) !important;
  }
}

@media all and (min-width: 844px) and (max-width: 896px) {
  .card-divider.mobile:after {
    content: url("../images/pattern-divider-mobile.svg");
  }

  .card-layout {
    height: 60vh !important;
    width: auto !important;
  }

  .action-wrapper {
    top: 65% !important;
    transform: translate(-50%, 60%) !important;
  }
}
@media all and (min-width: 601px) and (max-width: 767px) {
  .card-layout {
    height: 70vh !important;
    width: auto !important;
  }

  .action-wrapper {
    top: 55% !important;
    transform: translate(-50%, 100%) !important;
  }
}

@media all and (min-width: 480px) and (max-width: 600px) {
  .card-divider.mobile:after {
    content: url("../images/pattern-divider-mobile.svg");
  }

  .card-layout {
    height: 70vh !important;
    width: auto !important;
  }

  .action-wrapper {
    top: 65% !important;
    transform: translate(-50%, 55%) !important;
  }
}

@media all and (min-width: 376px) and (max-width: 479px) {
  .card-divider.mobile:after {
    content: url("../images/pattern-divider-mobile.svg");
  }

  .card-layout {
    height: 35vh !important;
    width: auto !important;
  }

  .action-wrapper {
    top: 65% !important;
    transform: translate(-50%, 95%) !important;
  }
}

@media all and (max-width: 375px) {
  .card-divider.mobile:after {
    content: url("../images/pattern-divider-mobile.svg");
  }

  .card-layout {
    height: 55vh !important;
    width: auto !important;
  }

  .action-wrapper {
    top: 65% !important;
    transform: translate(-50%, 100%) !important;
  }
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1000ms;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
